@import "./normalize.css";
:root{
    --color-text:#666;
    --color-high-text:#42bbaa;
    --color-tint:#42b983;
    --color-background:#ffffff;
    --font-size:14px;
    --line-height:1.5;

}
*,
*::before,*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* 禁止用户选中文件获图片 */
    user-select: none;
    background-color: var(--color-background);
    color:var(--color-text);
    /* vw,设备宽度 */
    width:100vw;
}

a{
    color:var(--color-text);
    text-decoration: none;
}

.left{
    float:left;
}
.right{
    float:right;
}